.idea/
target/
tomcat:*/
*.iml
.fuse_hidden*
node_modules/
.tmp/
.gradle/

.tmp/
node_modules/
*.log

build/*
!build/resources/
build/resources/*
!build/resources/main/
build/resources/main/*
!build/resources/main/static/
